<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Python com Flask-MicroFrameWork</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css" media="screen" />
</head>
<body>
    <h1>Hello World, My Friends!</h1>
    <form action="/dados" method="post">
        <label>Nome: </label>
        <input type="text" name="nome"/><br>
        <label>Idade: </label>
        <input type="number" name="idade"/><br>
        <label>Apelido: </label>
        <input type="text" name="apelido"/><br>
        
        <input type="submit" value="Enviar"/><br>
    </form>
    <hr>
    <form action="/imc" method="post">
        <h1>IMC - Calculo do Índice de Massa Corporal</h1>
        <label>Peso:</label><input type="number" name="peso" /><br>
        <label>Altura: </label>
        <input type="text" name="altura"/><br>        
        <input type="submit" value="Enviar"/><br>
    </form>
</body>
</html>